# System files
**.DS_Store

# Configuration directories
.texpadtmp
*.Ulysses*

# LaTeX build files (taken from https://gist.github.com/kogakure/149016)
*.aux
*.glo
*.glsdefs
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ps
*.fls
*.fdb_latexmk
*.run.xml
*.bcf
*.tpbuild

# LyX source files
*.lyx

# BibTeX Temp Files
*.bib.bak
*.bib.sav

# Project-specific files
ausarbeitung-encoding-backup.*

# Proofing files
latex/proofing

# PDF Files
**main.pdf

# Latexindent backup files
**.bak*

# tikz-externalize temp files
**.dpth

# graphics source files
**.graffle
**.graffle/**

# non-tex pictures
**.jpg
**.png
**.fig
**.eps
**.pdf
